@media screen and (orientation: landscape) {
  .container {
    width: 95vh;
    height: 95vh;
    bottom: 0.2vh;
    display: grid;
    position: absolute;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
  }
}

@media screen and (orientation: portrait) {
  .container {
    width: 95vw;
    height: 95vw;
    bottom: 0.2vw;
    display: grid;
    position: absolute;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
  }
}

.container div {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  background-color: hsl(240, 100%, 50%);
}

body {
  margin: 0px;
  background: black;
}
